{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Page item Area -->
<div id="page_item_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>Your Bag</h3>
            </div>		

            <div class="col-sm-6 text-right">
                <ul class="p_items">
                    <li><a href="#">home</a></li>
                    <li><span>Bag</span></li>
                </ul>					
            </div>	
        </div>
    </div>
</div>

<!-- bag Page -->
<div class="bag_page_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if bag_items %}
                <div class="bag_table_area table-responsive">
                    <table class="table bag_prdct_table text-center">
                        <thead>
                            <tr>
                                <th class="cpt_no">image</th>
                                <th class="cpt_img">name</th>
                                <th class="cpt_pn">qty</th>
                                <th class="cpt_q">price</th>
                                <th class="cpt_p">sku</th>
                                <th class="cpt_t">total</th>
                                <th class="cpt_r">remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                            <tr>
                                <td><a href="#" class="cp_img"><img class="bagimg" src="{{ item.product.image.url }}" alt="" /></a></td>
                                <td><a href="#" class="cp_title">{{ item.product.name }}</a></td>
                                <td><a href="#" class="cp_title">{{ item.quantity}}</a></td>
                                <td><p class="cp_price">£{{ item.product.price }}</td>
                                <td><p class="cpp_total">{{ item.product.sku }}</p></td>
                                <td><a class="btn btn-default cp_remove"><i class="fa fa-trash"></i></a></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12 bag-actions bag-button-cuppon">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="bag-action">
                            <a href="#" class="btn border-btn">continiue shopping</a>
                            <a href="#" class="btn border-btn">update shopping bag</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-5">
                        <div class="cuppon-wrap">
                            <h4>Discount Code</h4>
                            <p>Enter your coupon code if you have</p>
                            <form action="#" class="cuppon-form">
                                <input type="text" />
                                <button class="btn border-btn">apply coupon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xs-12 bag-checkout-process text-right">
                <div class="wrap">
                    <p><span>Subtotal</span><span>£{{ total|floatformat:2 }}</span></p>
                    <p><span>Delivery</span><span>£{{ delivery|floatformat:2 }}</span></p>
                    <h4><span>Grand total</span><span>£{{ grand_total|floatformat:2 }}</span></h4>
                    {% if free_delivery_increment > 0 %}
                    <p class="mb-1 text-danger">
                        Spend another <strong>£{{ free_delivery_increment }}</strong> to be eligible for free Next Day Delivery within the UK
                    </p>
                    {% endif %}
                    <a href="checkout.html" class="btn border-btn">process to checkout</a>
                </div>
                {% else %}
                <div class="row">
                    <div class="col">
                <p class="lead mb-5"> Your bag is empty!</p>
                <a href="{% url 'products' %}" class="btn btn-outline"><span>CONTINUE SHOPPING</span></a>
                    </div>
                </div>                {% endif %}
            </div>
            
        </div>
    </div>
</div>

							
{% endblock %}
