{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="slider">
    <div class="controll">
        <span><i class="active fa fa-chevron-left fa-2x"></i></span>
        <span><i class="fa fa-chevron-right fa-2x"></i></span>
    </div>
    <ul>
        <li class="slider-active" id="slide1">
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black">
                        Everything You Need For A Vibey Summer
                    </h1>
                    <h2>Check Out The Drop</h2>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}?category=Hoodies/Sweatshirts" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </li>
        <li id="slide2"> 
            <div class="row h-100">
                <div class="col-7 col-md-6 my-auto">
                    <h1 class="display-4 logo-font text-black">
                        Bringing The Vibes
                    </h1>
                    <h2>For The Chillest Home Ever</h2>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}?category=Home" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </li>
        </ul>
</div>


     



{% endblock %}
