{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Page item Area -->
<div id="page_item_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>Your Bag</h3>
            </div>		

            <div class="col-sm-6 text-right">
                <ul class="p_items">
                    <li><a href="#">home</a></li>
                    <li><span>Bag</span></li>
                </ul>					
            </div>	
        </div>
    </div>
</div>

<!-- Checkout  -->
<section class="checkout_page">
        
            <div class="">
                <div class="title">
                    <h3>Details</h3>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                <form class="checkout_form" action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                            <fieldset class="rounded px-3 mb-5"> 
                                <legend class="fieldset-label small">Your Details</legend>
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                            </fieldset>
                            <fieldset class="rounded px-3 mb-5"> 
                                <legend class="fieldset-label small">Delivery Details</legend>
                                {{ order_form.street_address1| as_crispy_field }}
                                {{ order_form.street_address2| as_crispy_field }}
                                {{ order_form.town_or_city| as_crispy_field }}
                                {{ order_form.postcode| as_crispy_field }}
                                    {% if user.us_authenticated %}
                                        <label class="form-check-label" for="id-save-info">Save this information to profile</label>
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                    {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create Account</a> or
                                        <a class="text-info" href="{% url 'account_login' %}">Login</a> to save these details
                                    </label>
                                    {% endif %}
                                
                                </fieldset>
                            <fieldset class="px-3">
                                <legend class="fieldset-label small">Payment Details</legend>
                                <!-- STRIPE CARD ELEMENT-->
                                <div class="" id="card-element" role="alert"></div>
                                <!-- DISPLAYS FORM ERRORS-->
                                <div class="text-danger" id="card-errors" role="alert"></div>
                </form>
            </div>
            

            <div class="col">
                <div class="title">
                    <h3>your order</h3>
                </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-name">Product Name</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-name">Pack</td>
                                <td class="product-total"><span>$20.00</span></td>
                            </tr>
                            <tr>
                                <td class="product-name">Deluxe Pack</td>
                                <td class="product-total"><span>$80.00</span></td>
                            </tr>
                            <tr>
                                <td class="product-name">Anti Mask</td>
                                <td class="product-total"><span>$40.00</span></td>
                            </tr>
                            <tr class="sub-total">
                                <td class="product-name">Sub Total</td>
                                <td class="product-total"><span>$140.00</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <td><span class="amount">$140.00</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
               
            
            
                
                <div class="payment_method">           
                    <ul>
                        <li>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Direct Bank Transfer</label>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed lobortis sem. Quisque at 
                                sapien ut odio</p>
                            </div>						
                
                        </li>
                        
                        <li>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">PayPal</label>
                            </div>	
                        </li>
                    </ul>     
                </div>
                
                <div class="qc-button">
                    <a href="#" class="btn border-btn" tabindex="0">Place Order</a>
                </div>
            </div>
            
        </div>
    </div>
</section>

							
{% endblock %}