* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider .controll span {
    display: inline-block;
    position: absolute;
    z-index: 999;
    top: 45%
}
.slider .controll span:first-of-type {left: 10px}
.slider .controll span:last-of-type {right: 10px}
.slider .controll .fa {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    padding: 7px;
    color: #fff;
}
.slider .controll .fa:hover, .slider .controll .fa.active {
    cursor: pointer;
    color: #fff;
}
.slider ul {
    position: absolute;
    list-style: none;
}
.slider ul li {
    float: left;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    padding-left: 0;
    background: #ff9800;
    color: #fff;
}
.slider ol {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #fff;
    transform: translate(-50%, -50%);
    list-style: none;
}
.slider ol li {
    display: inline-block;
    cursor: pointer;
}
.slider ol li:hover .fa:before, .slider ol li.pointer-active .fa:before {
    content: "\f111";
    font-family: FontAwesome;
}

#slide1 {
    background: url('/media/psychic.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
}

#slide2 {
    background: url('/media/vibes.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
}

.btn .bx {
    vertical-align: inherit;
    margin-top: -3px;
    font-size: 1.15rem;
  }
  
  .form-control {
    height: calc(2.5rem + 2px);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
  .btn {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  
  .bx.icon-single {
    font-size: 1.5rem;
  }
  
  .form-inline .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .form-inline .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .form-inline .form-control {
      width: 210px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .form-inline .form-control {
      width: 440px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .form-inline .form-control {
      width: 600px;
    }
  }
  
  .sub-menu.navbar-light .navbar-nav .active > .nav-link,
  .sub-menu.navbar-light .navbar-nav .nav-link.active,
  .sub-menu.navbar-light .navbar-nav .nav-link.show,
  .sub-menu.navbar-light .navbar-nav .show > .nav-link {
    border-bottom: 3px solid #007bff;
    color: #007bff;
  }
  
  .navbar .navbar-toggler {
    border: none;
  }
  
  .navbar-light .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar {
    padding: 1rem;
  }
  
  .main-menu {
    position: relative;
    z-index: 3;
  }
  
  .sub-menu {
    position: relative;
    z-index: 2;
    padding: 0 1rem;
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .sub-menu {
      padding: 0 1rem;
    }
  
    .sub-menu.navbar-expand-md .navbar-nav .nav-link {
      padding: 1rem 1.5rem;
    }
  }
  
  .navbar.bg-light {
    background: #fff !important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
  
  .user-dropdown .nav-link {
    padding: 0.15rem 0;
  }
  
  #sidebar {
    background: #fff;
    height: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    transition: 0.4s ease-in-out;
    width: 84%;
    z-index: 5001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 1.25rem 1rem 1rem;
  }
  
  #sidebar.active {
    left: 0;
  }
  
  #sidebar .sidebar-header {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px 16px;
    font-size: 1.1em;
    display: block;
    color: #000;
  }
  
  #sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
  }
  
  #sidebar ul li.active > a,
  #sidebar a[aria-expanded="true"] {
    color: #007bff;
    background: #e6f2ff;
    border-radius: 6px;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  #sidebar .links .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  section {
    padding: 6rem;
    background: #e4e4e4;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    width: 100%;
    opacity: 0;
  }
  
  .overlay.visible {
    opacity: 1;
    z-index: 5000;
  }
  
  /* .mobiHeader .menuActive~.overlay {
      opacity: 1;
      width: 100%;
  } */
  
  ul.social-icons {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  ul.social-icons li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0;
  }
  
  #sidebar ul.social-icons li a {
    font-size: 24px;
  }
  
  .utility-nav {
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 0.5rem 1rem;
  }
  
  .utility-nav p {
    margin-bottom: 0;
    
  }
  
  .search-bar {
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar .form-control {
    width: calc(100% - 45px);
  }
  
  .avatar {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 8px;
  }
  
  .avatar.avatar-xs {
    width: 2.25rem;
    height: 2.25rem;
  }
  
  .user-dropdown .dropdown-menu {
    left: auto;
    right: 0;
  }
  

  .shop_bar_tp {
    padding: 13px 0px;
    margin-bottom: 30px;
  }
  .short_by_area {
    text-align: left;
  }
  .short_by_inner {
    display: inline-block;
  }
  .short_by_inner select {
    text-align: left;
  }
  .short_by_inner label {
    display: block;
    float: left;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    margin-right: 9px;
    line-height: 45px;
  }
  .short_by_inner select {
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0) url("img/icon/arrow.png") no-repeat scroll right center;
    border: 1px solid #ddd;
    height: 45px;
    line-height: 27px;
    padding: 10px 26px 10px 10px;
    text-align: left;
    width: auto;
  }
  .show_area {
    float: right;
    text-align: right;
  }
  .show_inner {
    display: inline-block;
  }
  .show_inner label {
    display: block;
    float: left;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    margin-right: 9px;
    line-height:45px;
  }
  .show_inner select {
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0) url("img/icon/arrow.png") no-repeat scroll right center;
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    padding: 2px 25px 4px 7px;
    text-align: left;
    width: auto;
  }
  .pgntn_mrgntp {
    margin-top: 10px;
    margin-bottom:0px;
  }

  #page_item_area {
    padding: 45px 0;
    margin-bottom: 40px;
    background: linear-gradient(45deg, #C779D0 0%,#FEAC5E 100%);
  }
  .p_items li {
    display: inline-block;
    font-size: 0.rem;
    font-weight: 500;
    margin-right: 12px;
    text-transform: uppercase;
  }
  .p_items li a {
    color: #fff;
  }
  .p_items li span {
    color: #fff;
  }
  .p_items li + li::before {
    color: #fff;
    content: "-";
    padding-right: 12px;
  }
  #page_item_area h3{
    font-size: 25px;
    color: #fff;
  }
  
  .search_form{
    position: relative;
    display: block;
  }
  
  .search_form .search_button {
    padding: 9px 15px;
  }	
  
  .search_form .search_button,
  .search_form .search_button:focus{
    position: absolute;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  .search_form button{
    color: #33d286;
  }
  

  #product_area{
    position:relative;
    padding-top: 0;
  }
  
  
  .mix{
    display: none;
  }
  .product_item .mix{
    display: none;
  }
  .product_filter {
    margin-bottom: 10px;
  }
  .product_filter ul {
    margin: 0px 0 40px;
    padding: 0;
    list-style: none;
  }
  .product_filter ul li {
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    padding: 12px 22px;
    font-size: 13px;
    border: 1px solid transparent;
    transition: .5s;
    letter-spacing: 1px;
    border-radius: 20px;
    margin:0px;
    color:#777;
    line-height: 1;
  }
  .product_filter .filter.active {
    color: #33d286;
    border-color: #33d286;
  }
  
  .single_product{
      text-align: center;
      overflow: hidden;
    margin-bottom: 30px;	
    border: 1px solid rgba(0,0,0,0.02);
    padding-bottom: 20px;
    background: #fff;
    transition: .5s;
  }
  .single_product:hover{
    box-shadow: 5px 5px 25px rgba(0,0,0,0.03);
  }
  .product_image{
    overflow: hidden;
    position: relative;
  }

  .product_image img{
      width: 100%;
      height: auto;
      transition: all 1.5s ease 0s;
  }
  
  .single_product:hover img{
      transform: scale(1.2);
  }
  .single_product .box-content{
      width: 100%;
      padding: 17px 10px;
      background: #fff;
      position: absolute;
      bottom: -100px;
      left: 0;
      z-index: 1;
      transition: all 0.6s ease 0s;
    overflow: hidden;
    opacity: 0;
    background: #4BC0C8;
    
  }
  .single_product:hover .box-content{
      bottom: 0;
    opacity: 1;
  }
  .box-content a {
    display: inline-block;
    color: #333;
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 7px;
    transition:.5s;
  }
  .box-content a:hover {
    color: #4BC0C8;
    border-color: #fff;
  }
  
  .product_btm_text p {
    color: #8E8E8E;
    text-transform: uppercase;
    font-size: 13px;
  }
  .product_btm_text h4 {
    text-transform: capitalize;
    margin-top: 17px;
    margin-bottom: 6px;
    font-size: 17px;
  }
  .product_btm_text h4,
  .product_btm_text h4 a{
    color: #333;
  }
  
  .new_badge {
    display: inline-block;
    background: #33d286;
    color: #fff;
    padding: 3px 12px;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 2px;
  }
  .single_product span.price{
    color: #33d286;
    font-size: 16px;
  }
  .no-padding{
    padding: 0;
  }
  .p_rating{
    color: #fec42d;
    cursor: pointer;
  }
  

  .pd_title {
    color: #33d286;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 100%;
    transition:.5s;
  }
  .pd_title:hover {
    color: #000;
  }
  .pd_price_dtls {
    margin-bottom: 38px;
  }
  .pd_price{
    float:left;
  }
  .pd_ratng{
    float:right;
  }
  .pd_price .new {
    color: #303030;
    font-size: 18px;
    font-weight: 700;
    margin-right: 11px;
  }
  .pd_price span {
    line-height: 16px;
    display: block;
    font-weight: 500;
    float: left;
  }
  .pd_price .old {
    color: #909090;
    font-size: 14px;
    position: relative;
    padding: 0 5px 0 4px;
  }
  .pd_price .old::before {
    background: #909090;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 100%;
  }
  .pd_ratng .rtngs i {
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 3px;
  }
  .pd_text {
    margin-bottom: 30px;
  }
  .pd_text h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px;
    text-transform: uppercase;
  }

  .detail_img {
    height: 100%;
    width: auto;
  }

  .pd_img_size {
    margin-bottom: 38px;
  }
  .pd_img_size h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
  .pd_img_size a {
    border: 1px solid #eeeeee;
    color: #303030;
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 36px;
    transition:.5s;
  }
  .pd_img_size a:hover {
    border: 1px solid #33d286;
    color: #33d286;
  }
  .pd_clr_qntty_dtls {
    margin-bottom: 40px;
  }
  .pd_clr {
    width: 50%;
    float:left;
  }
  .pd_clr h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
  .pd_clr a.active {
    border: 6px solid #fff;
    outline: 1px solid #303030;
    outline-offset: -1px;
    overflow: hidden;
  }
  .pd_clr a {
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    text-indent: -999999px;
    width: 36px;
  }
  .pd_qntty_area {
    width: 50%;
    float:left;
  }
  .pd_qntty_area h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
  .pd_qntty_area .pd_qty {
    border: 1px solid #ddd;
    width: auto;
    display: inline-block;
  }
  .pd_qntty_area .pd_qty input[type="number"] {
    background: transparent none repeat scroll 0 0;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 0 0;
    color: #303030;
    float: left;
    height: 35px;
    padding: 0 5px;
    text-align: center;
    width: 54px;
  }
  .pd_qntty_area .pd_qty .qttybtn.inc {
    margin-top: 5px;
  }
  .pd_qntty_area .pd_qty .qttybtn {
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
  }
  .pd_qntty_area .pd_qty .qttybtn i {
    display: block;
    line-height: 12px;
  }
  .pd_btn {
    margin-bottom: 38px;
  }
  .btn_icn {
    background: #fff;
    color: #33d286!important;
    border: 1px solid #33d286;
    padding: 8px 15px;
    margin-left: 10px;
    transition: .5s;
  }
  .btn_icn:hover {
    background: #33d286;
    color: #fff!important;
  }
  .pd_share_area h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
  .pd_social_icon a {
    color: #606060;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 32px;
    margin-right: 20px;
    transition:.5s;
  }
  .pd_social_icon a:hover {
    color: #33d286;
  }
  .prdct_dtls_content {
    margin-top: 40px;
  }
  .pd_tab_area{
    margin-top:30px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(0,0,0,.02);
    box-shadow: 0 0 4px rgba(0,0,0,.02);
    display: block;
    padding: 31px 32px;
  }
  .pd_tab_area p{
    margin-bottom: 15px;
  }
  .pd_tab_area ul{
    display: inline-block;
  
  }
  
  .pd_tab_area li{
    padding: 5px 0;
    display: block;
    font-weight: 00;
  }
  .pd_tab_btn {
    margin-bottom: 10px;
    border: none;
  }
  .pd_tab_btn li {
    display: block;
    float: left;
    margin-right: 10px;
    padding-bottom: 11px;
    position: relative;
  }
  .pd_tab_btn li a {
    color: #000;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    padding: 7px 20px;
    border-radius: 20px;
    transition: .5s;
  }
  .pd_tab_btn li a.active{
    background: #33d286;
    color: #fff;
    box-shadow: 4px 3px 5px rgba(0,0,0,0.07);
  }
  
  .single_pd_tab {
    text-align: left;
  }
  .pda_rtng_area {
    margin-bottom: 20px;
  }
  .pda_rtng_area h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 0 7px;
    color:#000;
  }
  .pda_rtng_area h4 span {
    color: #909090;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
  }
  .pda_rtng_area > span {
    color: #909090;
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
  }
  .rtng_cmnt_area {
    margin-bottom: 40px;
  }
  .rtng_cmnt_area .single_rtng_cmnt {
    margin-bottom: 30px;
  }
  .rtngs {
    float: right;
  }
  .rtng_cmnt_area .single_rtng_cmnt .rtngs i {
    color: #303030;
    font-size: 16px;
  }
  .rtng_cmnt_area .single_rtng_cmnt .rtngs span {
    color: #909090;
  }
  .rtng_author {
    float: left;
  }
  .rtng_cmnt_area .single_rtng_cmnt .rtng_author h3 {
    color: #606060;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 13px;
  }
  .rtng_cmnt_area .single_rtng_cmnt .rtng_author span {
    color: #909090;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
    margin-left: 15px;
  }
  .rtng_cmnt_area .single_rtng_cmnt p {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .rtng_cmnt_form_area h3 {
    font-size: 14px;
    margin: 0 0 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 12px;
  }
  .rcf_pdnglft {
    padding-left: 0;
  }
  .rp_title h3 {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 24px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 13px;
    color: #000;
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  
  .related_prdct_area {
    padding: 50px 0;
  }
  
  .gray_section{
    background: #f9f9f9;
  }
 
  .fix {
    overflow: hidden;
  }

  .product_dropdown {
    list-style: none;
    text-decoration: none;
  }

  /* -------- bag Page Css -------- */

.bag_page_area{
	padding-bottom: 60px;
}

.bag_table_area {
	margin-bottom: 30px;
}
.table {

}

.bag_prdct_table thead tr th:first-child {
	border-left: 1px solid #ddd;
}
.bag_prdct_table thead tr th {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd !important;
	color: #000;
	font-weight: 700;
	line-height: 54px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
.bag_prdct_table thead tr th.number {
  min-width: 66px;
}
.bag_prdct_table thead tr th.cpt_img {
  min-width: 166px;
  width: 166px;
}
.bag_prdct_table thead tr th.cpt_pn {
  min-width: 250px;
}
.bag_prdct_table thead tr th.cpt_q, 
.bag_prdct_table thead tr th.stock {
  min-width: 130px;
}
.bag_prdct_table thead tr th.price {
  min-width: 130px;
}
.bag_prdct_table thead tr th.total, .bag_prdct_table thead tr th.add-bag {
  min-width: 160px;
}
.bag_prdct_tablee thead tr th.remove {
  min-width: 100px;
}
.bag_prdct_table tbody tr td:first-child {
	border-left: 1px solid #ddd;
}
.bag_prdct_table tbody tr td {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	vertical-align: middle;
}
.bag_prdct_table .cp_no {
	color: #777;
	display: block;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-size: 18px;
}
.bag_prdct_table .cp_img {
	display: inline-block;
	padding: 10px 25px;
  object-fit: contain;

}

.bagimg {
  height: 10rem;
}

.bag_prdct_table .cp_title {
	color: #777;
	font-weight: 500;
	transition:.5s;
}
.bag_prdct_table .cp_title:hover {
	color: #33d286;
}
.bag_prdct_table .cp_price, .cpp_total {
	font-weight: 500;
	letter-spacing: 0.5px;
}
.cp_remove {
	background: transparent;
	border: none;
	font-size: 20px;
	transition: .5s;
}
.cp_remove i{
	transition: .5s;
}
.cp_remove:hover i{
	background: transparent;
	border: none;
	color: #33d286;
}
.cp_quantity_btn {
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	clear: both;
}
.clrfix::after, .clrfix::before {
	content: "";
	display: block;
	clear: both;
	height: 0;
}
.cp_quantity_btn a {
	float: left;
	display: block;
	margin: 0;
	height: 30px;
	line-height: 25px;
	vertical-align: middle;
	padding: 0;
	width: 30px;
	font-size: 20px;
	border: 1px solid #d7d9db;
	color: #8c929b;
	text-align: center;
	border-radius:0;
}
.cp_quntty_input:disabled {
	background-color: transparent;
	cursor: default;
}
.cp_quntty_input {
	padding: 0;
	text-align: center;
	float: left;
	display: block;
	margin: 0;
	width: auto;
	min-width: 30px;
	text-indent: 0;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	color: #212224;
	border-left: none;
	border-right: none;
}
.cbi_mrgn {
	margin-top: -7px;
	margin-bottom: 50px;
}
.cbi_right {
	margin-right: 40px;
}

.bag-action .btn{
	margin-right: 20px;
	margin-bottom: 20px;
}
.cuppon-wrap{
	padding: 0 20px;
}
.cuppon-wrap input[type="text"]{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	display: inline-block;
}
.bag-checkout-process span{
	padding-right: 10px;
}
.bag-checkout-process .btn{
	margin-top: 15px;
}
.bag-checkout-process h4{
	margin-top: 10px;
	margin-bottom: 10px;
}

.message-container{
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}